.post-card {
    max-width: 500px;
    margin: 40px auto;
}

.post-card[data-status="false"] {
    color: red;
}

.post-card[data-status="true"] {
    color: green;
    text-decoration: line-through;
}
.post-card:hover {
    cursor: pointer;
    background-color: #efefef;
}